<ion-view title="Dashboard" hide-back-button="true" id="dashboard" >
  <ion-content padding="false" class="has-header conteudo-dashboard">
    <div class="spacer" style="width: 100px; height: 4%;"></div>

    <ion-list id="lista-menus">

      <ion-item class="item-icon-left itens-dashboard" id="item-veiculos" ui-sref="menu.veiculos" menu-close="">
        <i class="icon ion-model-s icon-dashboad"></i>
          <p class="titulo-dashboard">Veículos</p>
      </ion-item>

      <ion-item class="item-icon-left itens-dashboard" id="item-abastecimentos" ui-sref="menu.abastecimentos" menu-close="">
        <i class="icon ion-battery-low icon-dashboad"></i>
          <p class="titulo-dashboard">Abastecimentos</p>
      </ion-item>

      <ion-item class="item-icon-left itens-dashboard" id="item-manutencao" ui-sref="menu.manutencao" menu-close="">
        <i class="icon ion-medkit icon-dashboad"></i>
          <p class="titulo-dashboard">Manutenção</p>
      </ion-item>

      <ion-item class="item-icon-left itens-dashboard" id="item-relatorios" ui-sref="menu.relatorios" menu-close="">
        <i class="icon ion-pie-graph icon-dashboad"></i>
          <p class="titulo-dashboard">Relatórios</p>
      </ion-item>

    </ion-list>


    <!-- <ion-list id="dashboard-list" style="min-height:100%; width:100%">
      <ion-item class="item-thumbnail-left item-icon-right energized dashboard"
        id="list-veiculos" ui-sref="menu.veiculos">
        <img src="img/eWgMBop6Q7SbwhevQL6z_addcar.png">
        <h2energized>
          Veículos
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right energized dashboard"
        id="list-abastecimentos" ui-sref="menu.abastecimentos">
        <img src="img/c2nhIdsPQoS20NxVErBD_addabastecimento.png">
        <h2energized>
          Abastecimentos
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right energized dashboard"
        id="list-manutencao" ui-sref="menu.manutencao">
        <img src="img/4HqSIfJSAa9GOe53sxHm_addmanutencao.png">
        <h2energized>
          Manutenção
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right energized dashboard"
        id="list-relatorios" ui-sref="menu.relatorios">
        <img src="img/1nBQ1SxlRgOyisJ3X7Q3_iconrelatorio.png">
        <h2energized>
          Relatórios
        </h2energized>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
